src/silerovad
src/speechtotext
samples/jfk3.wav
samples/testja.wav
samples/testja2.wav
tests/testsilerovad
tests/testspeechtotext
tests/testall
models/*
!models/silero_vad.onnx
!models/ggml-base-q5_1.bin
